*.tar.gz
*.bz2
__pycache__
config.mk
project_config.mk
.idea/
.vscode/
.DS_Store
.ipynb_checkpoints
*~
*.swp
*.tmp

API_KEYS

*.log

# ChainLite
llm_logs.jsonl

# pixi environments
.pixi
*.egg-info

.diskcache
